.sideBar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 0.3rem;
  background-color: #E7E7E7;
  padding: 0.6rem;
}

.sideBar-search input {
  border: none;
  background-color: #E7E7E7;
  outline: none;
}

.sideBar-search img {
  height: 1rem;
  width: 1rem;
}
